main {
    padding-top: 20px;
}

h2 {
    margin-bottom: 5px;
}

button {
    outline: none;
}

.mdc-list {
    padding: 10px;
}

.mdc-list .mdc-switch {
    padding-left: 10px;
}

.mdc-form-field {
    padding-left: 10px;
}

.mdc-list-item {
    font-size: 1.2rem;
}

#main {
    padding-left: 10px;
}

#button_area {
    padding-left: 10px;
    margin: 20px;
}

.code {
    margin: 0px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.copy_button {
    margin-top: 20px;
}
